---
export interface Props {
    char: string;
    correct?: boolean;
}

const { char, correct = true } = Astro.props;
---

<div class=`px-1 character-box character-${correct ? "success" : "warning"}`>{char}</div>

<style>
    .character-box {
        border: 2px solid;
        color: #ffffffde;
        border-color: #ffffffde;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .character-success {
        color: #02e302;
        border-color: #02e302;
        text-transform: capitalize;
    }

    .character-warning {
        color: #ffa500;
        border-color: #ffa500;
    }
</style>
