<a class="logo d-flex align-items-center" href="/" tabindex="-1">
    <!-- <img class="icon" src="./assets/logo.svg" /> -->
    <span class="d-block d-lg-none ms-2 icon-text">VocabVersus</span>
</a>

<style>
    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        text-decoration: none;
        z-index: 5;
    }

    .icon {
        width: 60px;
    }

    .icon-text {
        color: var(--vv-white);
        font-size: 40px;
    }
</style>
