---
export interface Props {
    href?: string;
}

const { href = "javascript:void(0);" } = Astro.props;
---

<a class="btn social-media-icon" href={href} target="_blank">
    <slot />
</a>

<style>
    .social-media-icon {
        color: var(--vv-white);
        font-size: 50px;
        padding: 0px;
    }
    .social-media-icon:hover{
        filter: brightness(1.1);
    }
</style>
